In [5]:
import pandas as pd
pd.options.display.max_rows=4
pd.options.display.max_columns=100

# Get insectcodes for labels to be printed

In [6]:
df_labels_needed = pd.read_csv('NEEDS-LABELS-all-25-10-18.csv')
df_labels_needed

         insectcode indb
0    INSECTGUA_0053    y
1    INSECTGUA_0310    y
..              ...  ...
577  INSECTSAI_2908    n
578  INSECTSAI_3323    n

[579 rows x 2 columns]

### Check for duplates in insectcode column

In [7]:
# Check for duplates in insectcode column
dups = df_labels_needed.insectcode.duplicated()
df_labels_needed[dups]

         insectcode indb
285  INSECTGUA_2705    y

There is only one dup; let's ignore it

# Get Benita's database

In [8]:
df_db = pd.read_csv('seedinsectpredationAM.csv')

# Keep only records where insectcode is not null
df_db = df_db[df_db['insectcode'].notnull()]
df_db

,Unnamed: 0,Seed.code,Tree.code,Island,Tree.species.code,Order.x,Family.x,Genus.x,Species.x,Latitude,Longitude,Site,Date..DD.MM.YYYY.,Type.of.sample..F.fruit.S.seed,Successional.Stage..1.immature.2.mature.3.rotten.4.all.preceding,Fruits.collected.from..G.ground.T.tree,Fruit.syndrome,Total.number.of.fruits.collected,Total.number.of.seeds,Weight.of.all.seeds.g,Date.opening.seed..dd.mm.yy.,Number.of.fruits.predated,Holes.visable,Frass.visable,Percentage.fruits.predated,insectcode,Date.emerged..for.R.only..DD.MM.YY.,Species.code,Order.y,Family.y,Subfamily,Genus.y,Species.y,Guild,Life.stage..L.larva.A.adult.P.pupae,Host.from.lit,Reference,Found.in.box.with,Suggested.host
1,2,SEEDGUA_0003,TREEGUA_0003,GUAM,TRIPTR,NaN,Rutaceae,Triphasia,trifolia,13.543554,144.933967,Anao,06/09/2017,F,2,T,A1.1,4,5.2,3.7346,18/12/1017,0.0,N,N,0.000000,INSECTGUA_1958,22/11/2017,PSOSP2,Psocoptera,Unknown,Unknown,Unknown,sp.2,UN,A,NaN,NaN,NaN,NaN
2,3,SEEDGUA_0003,TREEGUA_0003,GUAM,TRIPTR,NaN,Rutaceae,Triphasia,trifolia,13.543554,144.933967,Anao,06/09/2017,F,2,T,A1.1,4,5.2,3.7346,18/12/1017,0.0,N,N,0.000000,INSECTGUA_1959,22/11/2017,PSOSP2,Psocoptera,Unknown,Unknown,Unknown,sp.2,UN,A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5694,5695,SEEDSAI_0223,TREESAI_0128,SAIPAN,PSYCMA,NaN,Rubiaceae,Psychotria,mariana,15.267140,145.809016,FORBI,27/09/2017,F,1,T,B1,48,96.0,5.6700,12/19/17,14.0,N,N,0.291667,INSECTSAI_2807,09/11/2017,LEPSP4,Lepidoptera,Unknown,Unknown,Unknown,sp.4,UN,A,NaN,NaN,NaN,NaN
5696,5697,SEEDSAI_0225,TREESAI_0129,SAIPAN,PSYCMA,NaN,Rubiaceae,Psychotria,mariana,15.267120,145.809063,FORBI,27/09/2017,F,1,T,B1,108,216.0,14.0700,12/19/17,2.0,Y,N,0.018519,INSECTSAI_1578,30/10/2017,HYMSP7,Hymenoptera,Unknown,Unknown,Unknown,sp.7,UN,A,NaN,NaN,NaN,NaN

### Check for duplicates in insectcode column

In [9]:
# Check for duplicates in insectcode column
dups = df_db.insectcode.duplicated()
df_db[dups]

Empty DataFrame
Columns: [Unnamed: 0, Seed.code, Tree.code, Island, Tree.species.code, Order.x, Family.x, Genus.x, Species.x, Latitude, Longitude, Site, Date..DD.MM.YYYY., Type.of.sample..F.fruit.S.seed, Successional.Stage..1.immature.2.mature.3.rotten.4.all.preceding, Fruits.collected.from..G.ground.T.tree, Fruit.syndrome, Total.number.of.fruits.collected, Total.number.of.seeds, Weight.of.all.seeds.g, Date.opening.seed..dd.mm.yy., Number.of.fruits.predated, Holes.visable, Frass.visable, Percentage.fruits.predated, insectcode, Date.emerged..for.R.only..DD.MM.YY., Species.code, Order.y, Family.y, Subfamily, Genus.y, Species.y, Guild, Life.stage..L.larva.A.adult.P.pupae, Host.from.lit, Reference, Found.in.box.with, Suggested.host]
Index: []

Good; there are no dups.

# Join Tables

In [10]:
df_labels_needed.merge(right=df_db, on='insectcode')

,insectcode,indb,Unnamed: 0,Seed.code,Tree.code,Island,Tree.species.code,Order.x,Family.x,Genus.x,Species.x,Latitude,Longitude,Site,Date..DD.MM.YYYY.,Type.of.sample..F.fruit.S.seed,Successional.Stage..1.immature.2.mature.3.rotten.4.all.preceding,Fruits.collected.from..G.ground.T.tree,Fruit.syndrome,Total.number.of.fruits.collected,Total.number.of.seeds,Weight.of.all.seeds.g,Date.opening.seed..dd.mm.yy.,Number.of.fruits.predated,Holes.visable,Frass.visable,Percentage.fruits.predated,Date.emerged..for.R.only..DD.MM.YY.,Species.code,Order.y,Family.y,Subfamily,Genus.y,Species.y,Guild,Life.stage..L.larva.A.adult.P.pupae,Host.from.lit,Reference,Found.in.box.with,Suggested.host
0,INSECTGUA_0053,y,602,SEEDGUA_0041,TREEGUA_0016,GUAM,NEISOP,Gentianales,Apocynaceae,Ochrosia,oppositifolia,13.544063,144.930504,Anao,08/09/2017,F,2,G,A2.1,4,4.0,85.1000,18/12/1017,0.0,N,N,0.000000,18/09/2017,DROHY,Diptera,Drosophillidae,NaN,Drosophila,hypocausta,SC,A,NaN,NaN,NaN,NaN
1,INSECTGUA_0310,y,416,SEEDGUA_0035,"TREEGUA_0018, TREEGUA_0019, TREEGUA0020",GUAM,NEISOP,Gentianales,Apocynaceae,Ochrosia,oppositifolia,13.543936,144.930632,Anao,08/09/2017,F,2,G,A2.1,1,1.0,34.8897,18/12/1017,1.0,Y,N,1.000000,30/10/2017,CHLSP1,Diptera,Chloropidae,Unknown,Unknown,sp.1,SC,A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,INSECTSAI_2870,y,3295,SEEDSAI_0081,TREESAI_0044,SAIPAN,CYNORA,Fabales,Fabaceae,Cynometra,ramiflora,15.251004,145.798622,LTR1,19/09/2017,F,2,G,B2,47,94.0,441.6000,12/12/1017,6.0,Y,Y,0.127660,10/10/2017,TORSP1,Lepidoptera,Tortricidae,NaN,Unknown,sp.1,UN,A,NaN,NaN,NaN,NaN
477,INSECTSAI_2884,y,4295,SEEDSAI_0164,TREESAI_0092,SAIPAN,MELAMU,Malpighiales,Euphorbiaceae,Melanolepis,multiglandulosa,15.279719,145.807728,Last Command Post,25/09/2017,F,2,T,B2,66,165.0,25.3000,18/12/1017,5.0,Y,N,0.075758,13/10/2017,COSSP1,Lepidoptera,Cosmopterigidae,NaN,Unknown,sp.1,UN,A,NaN,NaN,NaN,NaN

Something wrong here. There should be 579 rows if a match in the db is found for every insectcode in the labels_needed table.

Let's find the missing insectcodes.

In [36]:
insectcodes_missing_in_db = set(df_labels_needed.insectcode.values)-set(df_db.insectcode.values)
print('There are {} insectcodes in the labels_needed table which are not in the db table:'
      .format(len(insectcodes_missing_in_db)))
insectcodes_missing_in_db

There are 101 insectcodes in the labels_needed table which are not in the db table:

{'INSECTGUA_1732',
 'INSECTGUA_1737',
 'INSECTGUA_1738',
 'INSECTGUA_1740',
 'INSECTGUA_1741',
 'INSECTGUA_1742',
 'INSECTGUA_1753',
 'INSECTGUA_1754',
 'INSECTGUA_1756',
 'INSECTGUA_1798',
 'INSECTGUA_1799',
 'INSECTGUA_1808',
 'INSECTGUA_1815',
 'INSECTGUA_1816',
 'INSECTGUA_1817',
 'INSECTGUA_1818',
 'INSECTGUA_1819',
 'INSECTGUA_1820',
 'INSECTGUA_1825',
 'INSECTGUA_1826',
 'INSECTGUA_1827',
 'INSECTGUA_1829',
 'INSECTGUA_2228',
 'INSECTGUA_2334',
 'INSECTGUA_2335',
 'INSECTGUA_2336',
 'INSECTGUA_2337',
 'INSECTGUA_2338',
 'INSECTGUA_2339',
 'INSECTGUA_2340',
 'INSECTGUA_2341',
 'INSECTGUA_2342',
 'INSECTGUA_2343',
 'INSECTGUA_2344',
 'INSECTGUA_2345',
 'INSECTGUA_2346',
 'INSECTGUA_2347',
 'INSECTGUA_2348',
 'INSECTGUA_2349',
 'INSECTGUA_2350',
 'INSECTGUA_2351',
 'INSECTGUA_2352',
 'INSECTGUA_2353',
 'INSECTGUA_2354',
 'INSECTGUA_2355',
 'INSECTGUA_2356',
 'INSECTGUA_2357',
 'INSECTGUA_2358',
 'INSECTGUA_2359',
 'INSECTGUA_2360',
 'INSECTGUA_2361',
 'INSECTGUA_2362',
 'INSECTGUA_2363',
 'INSECTGUA_2364',
 'INSECTGUA_2365',
 'INSECTGUA_2366',
 'INSECTGUA_2367',
 'INSECTGUA_2368',
 'INSECTGUA_2369',
 'INSECTGUA_2370',
 'INSECTGUA_2371',
 'INSECTGUA_2372',
 'INSECTGUA_2379',
 'INSECTGUA_2380',
 'INSECTGUA_2381',
 'INSECTGUA_2382',
 'INSECTGUA_2383',
 'INSECTGUA_2384',
 'INSECTGUA_2385',
 'INSECTGUA_2386',
 'INSECTGUA_2387',
 'INSECTGUA_2388',
 'INSECTGUA_2389',
 'INSECTGUA_2390',
 'INSECTGUA_2391',
 'INSECTGUA_2392',
 'INSECTGUA_2393',
 'INSECTGUA_2539',
 'INSECTGUA_2540',
 'INSECTGUA_2541',
 'INSECTGUA_2542',
 'INSECTSAI_1318',
 'INSECTSAI_1723',
 'INSECTSAI_2154',
 'INSECTSAI_2155',
 'INSECTSAI_2557',
 'INSECTSAI_2625',
 'INSECTSAI_2721',
 'INSECTSAI_2723',
 'INSECTSAI_2726',
 'INSECTSAI_2746',
 'INSECTSAI_2751',
 'INSECTSAI_2753',
 'INSECTSAI_2757',
 'INSECTSAI_2758',
 'INSECTSAI_2763',
 'INSECTSAI_2816',
 'INSECTSAI_2817',
 'INSECTSAI_2887',
 'INSECTSAI_2908',
 'INSECTSAI_3323'}